// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/* LOCAL FONTS */

$ichen_beige: #ece1cb;
$ichen_yellow: #e5bc80;
$ichen_green: #709726;
$ichen_green_dark: #5b7c1d;
$ichen_blue: #2a434c;
$ichen_blue_dark: #1e3036;
$ichen_blue_light: #395b66;
$ichen_red: #d10f46;
$ichen_brown: #504843da;

/* LOCAL FONTS */
/* overlock-900 - latin */
@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 900;
  src: url('~assets/fonts/overlock-v9-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Overlock Black'), local('Overlock-Black'),
       url('~assets/fonts/overlock-v9-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/overlock-v9-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/overlock-v9-latin-900.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/overlock-v9-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/overlock-v9-latin-900.svg#Overlock') format('svg'); /* Legacy iOS */
}


/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/fira-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('~assets/fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/fira-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}


/* fira-sans-800 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: bold;
  font-weight: 800;
  src: url('~assets/fonts/fira-sans-v10-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans ExtraBold'), local('FiraSans-ExtraBold'),
       url('~assets/fonts/fira-sans-v10-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/fira-sans-v10-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/fira-sans-v10-latin-800.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/fira-sans-v10-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/fira-sans-v10-latin-800.svg#FiraSans') format('svg'); /* Legacy iOS */
}


:active, :focus{
  outline: none !important;
}

::selection {
  background: $ichen_red; /* WebKit/Blink Browsers */
  color:#fff;
}
::-moz-selection {
  background: $ichen_red; /* Gecko Browsers */
  color:#fff;
}



$material-light: (
  cards: $ichen_beige,
  chips: $ichen_beige,
  text:(
    secondary:rgba(0,0,0,0.8)
  ),
);

$material-dark: (
  text:(
    secondary: #fff
  ),
);

$headings: (
  h1: (
    'size': 1.5em,
    'weight': 900,
    'line-height': 1.5,
    'font-family': 'Overlock',
  ),
  h2: (
    'size': 1.4em,
    'weight': 900,
    'line-height': 1.5,
    'font-family': 'Overlock',
  ),
  h3: (
    'size': 1.2em,
    'weight': 900,
  ),
  h4: (
    'font-family': 'Overlock',
    'size': 1.0em,
    'weight': 400,
  ),
);




// BUTTONS 
$btn-font-weight:(bold);
$btn-border-radius:0;
$btn-hover-opacity: 0.1;

// INPUTS
$label-font-size: 14px;
$text-field-border-radius: 0px;

// MENU
$menu-content-border-radius: 0px;


$body-font-family: 'Fira Sans', Arial, sans-serif;
$font-size-root: 18px !default;
$color-pack: false;


@import '~vuetify/src/styles/styles.sass';


.v-application .text-h2 {
  color: $ichen_blue;
}


.v-ripple__container {
    display:none !important;
}

.v-card{
  margin-bottom: 2em;
  
  &:after{
    content:"";
    position: absolute;
    left:0;
    bottom:0px;
    width:100%;
    height:40px;
    margin-bottom: -39px;
    background-color:inherit;
    clip-path: polygon(0 1%, 0% 100%, 100% 0);
  }
}

.v-card__title{
  -moz-hyphens: none !important;
  -o-hyphens: none !important;
  -webkit-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
  line-height:1.25em !important;
  word-break: normal !important;
}


.v-alert{
  word-break: normal !important;
}


.text-h2 a {
text-decoration: none !important;
}



.v-list-item--link{
  
  &:before {
    background-color:none !important;
  }
}