// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/* LOCAL FONTS */

@import '~vuetify/src/styles/styles.sass';
@import '~assets/typo.scss';

.v-ripple__container {
    display:none !important;
}

.v-btn{
    border-radius: 0px!important;
 } 

 $ichen_beige: #e5bc80; //ichen beige
 $ichen_green: #709726; //ichen green
 $ichen_blue: #2a434c; // ichen blue
 $ichen_red: #e0124d; //ichen red
 $ichen_brown: #48413d; //ichen brown