// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/* LOCAL FONTS */

$ichen_beige: #ece1cb;
$ichen_yellow: #e5bc80;
$ichen_green: #709726;
$ichen_blue: #2a434c;
$ichen_red: #e0124d;
$ichen_brown: #48413d;


$material-light: (
cards: $ichen_beige,
chips: $ichen_beige,
text:(
    secondary:rgba(0,0,0,0.8)
),

);


// BUTTONS //
$btn-font-weight:(bold);
$btn-border-radius:0;
$btn-hover-opacity: 0.1;



@import '~vuetify/src/styles/styles.sass';
@import '~assets/ichen.scss';



.v-ripple__container {
    display:none !important;
}




 
